.headbar{
	background:url(../img/bg_wp.jpg);
}
.down1,.down2{
display:block;
background-image:url(../img/btn_android.gif);
width:198px;
margin:0 6px;
height:58px;
float:left;
}
.down2{
background-position:0 183px;
}
a.down1:hover{
background-position:0 -61px;
}
a.down2:hover{
background-position:0 122px;
}
.down3,.down4{
display:block;
background-image:url(../img/btn_android2.gif);
width:198px;
margin:0 6px;
height:58px;
float:left;
}
.down3{
background-position:0 183px;
}